/* .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #4e4b55;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #3498db;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #3498db;
    cursor: pointer;
  } */
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #0a192f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 4px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #66fcf1;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #66fcf1;
    cursor: pointer;
    border-radius: 50%;
  }
  